{% extends "main/base.html" %}

{% block content %}

{% if liked_projects %}
    <ul>
        <h2>Liked Projects</h2>
    {% for post in liked_projects %}
            <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                {% for skill in post.skills.all %}
                    <span class="badge badge-info">{{ skill }}</span>
                {% endfor %}
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
    <!-- Project details... -->
            <p class="article-content">{{ post.description }}</p>
        </div>
    </article>
    {% endfor %}
    </ul>
{% else %}
    <p>No liked projects found.</p>
{% endif %}

{% endblock content %}